@import "tailwindcss";

/* @layer base {
  body {
    @apply bg-slate-50 text-slate-900 antialiased font-sans;
  }
} */

@media print {
  body * {
    visibility: hidden;
  }
  #printable-section,
  #printable-section * {
    visibility: visible;
  }
  #printable-section {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
  .no-print {
    display: none !important;
  }
}


.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }